//SASS PAGE
$blac-color:#212121;
$blue1:#003464;
$blue:#006cd1;
$yellow:#ff9922;
$back-opacity: rgb(0, 0, 0,.5);
$white-kolor: #fff;
$white-opacity:#f9f9f9;
$white-black:#f7f7f7;
$blue-grey : rgb(239 242 250/1);

// Banner
.Banner{
    background-color: $blue1;
    .bnn{
        display: flex;
        justify-content: space-between;
        padding: 7px 5px;
        .child{
            font-size: 13px;
            color: grey;
        }
        .so{
            color: #efefef;
            display: flex;
            gap: 5px;
            a{
                text-decoration: none;
                color: #efefef;
            }
        }
    }
   .logo{
        background: #efefef;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .icon{
            width: 190px;
            height: 140px;
            // img{
            //     width: 190px;
            //     height: 130px;
            //     object-fit: cover;
            // }
        }
        p{
            font-size: 20px;
            color: #003464;
        }
   } 

}

//Nav Bar 
nav{
    background: $blue1;
    // background: none;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: sticky;
    align-items: center;
    z-index: 100px;
    // .icon{
       
    //     img{
    //         width: 190px;
    //         height: 130px;
    //         object-fit: cover;
    //     }
       
    //     // border: 1px solid red;
    // }

    .items{
        align-items: center;
        // background: blue;
        ul{
            color: white;
            // background: red;
            display: flex;
            gap: 30px;
            margin-top: 20px;
            padding: 20px;
            // list-style: none;
            li{
                text-decoration: none;
                list-style: none;
                // color: #212121;
                font-size: 16px;
                font-weight: 700;
                .link{
                    text-decoration: none;
                    // color: rgb(35, 31, 31,.8)
                    color: #fff;
                    text-transform: uppercase;
                }
                :hover{
                    color: $blue;
                } 
            }
            
        }
    }

    .lang{
        background-color: #efefef;
        display: flex;
        padding: 6px 10px;

    }
    
    // .header {
    //     background-color: $bg-color;
    //     color: $text-color;
    //     text-align: center;
    //     padding: 20px 0;
      
    //     &--fixed {
    //       position: fixed;
    //       top: 0;
    //       left: 0;
    //       width: 100%;
    //       z-index: 100;
    //     }
      
    //     &--transparent {
    //       background-color: rgba($bg-color, 0.9);
    //     }
      
    //     .container {
    //       display: flex;
    //       justify-content: space-between;
    //       align-items: center;
    //     }
      
    //     &__brand {
      
    //       h1 {
    //         font-size: 20px;
      
    //         a {
    //           color: $text-color;
    //         }
    //       }
    //     }
      
    //     &__nav {
    //       display: flex;
    //       align-items: center;
      
    //       &_lang {
    //         position: relative;
      
    //         .selected {
    //           width: 50px;
    //           background-color: $primary-color;
    //           color: $light-color;
    //           padding: 5px;
    //           font-weight: 700;
    //           font-size: 12px;
    //           border-radius: 2px;
    //           cursor: pointer;
    //         }
      
    //         .dropdown {
    //           position: absolute;
    //           top: calc(100% + 5px);
    //           left: 0;
    //           width: 100%;
    //           background-color: $light-color;
    //           border-radius: 2px;
    //           padding: 5px 0;
    //           box-shadow: 0 0 10px rgba($dark-color, 0.2);
      
    //           li {
    //             text-align: center;
    //             font-size: 12px;
    //             padding: 5px;
    //             cursor: pointer;
      
    //             &:hover {
    //               color: $primary-color;
    //             }
    //           }
    //         }
    //       }
      
    //       &_menu {
    //         display: flex;
    //         align-items: center;
      
    //         li {
    //           margin-left: 20px;
      
    //           a {
    //             font-weight: 700;
    //             font-size: 12px;
    //             text-transform: uppercase;
    //             color: $text-color;
      
    //             &:hover,
    //             &.active {
    //               color: $primary-color;
    //             }
    //           }
    //         }
    //       }
    //     }
    // }
    .option{
      display: none;
    }
   
}